**/gen-java
**/.classpath
**/.project
**/target/
**/.settings/
**/coverage-report/
**/metadata/
.metadata/
**/logs/
logs/
*.iml
*.ipr
*.iws
.project
.settings/
audit/audit-wxproxy/.classpath
audit/audit-wxproxy/target/
**/out/
**/output/
**/.idea/
mis/src/main/java/rebel.xml
**/.DS_Store
wxpay-proxy/output
publish.sh
**/gen-java
.gradle/
.idea/
**/build/
gradlew*
*.class
**/bin/
*.pyc
